@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* base styles */
body{
  background-color: #ced2ff;
}
* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
  border-bottom: 1px solid #6864de;
}

.navbar h1{
  color: #170e75;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:not(.create-btn):hover {
  color: #170e75;
}

.create-btn {
  color: white;
  background-color: #170e75;
  border-radius: 8px;
  padding: 6px 12px;
  text-decoration: none;

  transition: all 0.3s ease;   /*  smooth animation */
}

.create-btn:hover {
  transform: scale(1.08);

  box-shadow: 
    0 0 8px rgba(104, 100, 222, 0.6),
    0 0 16px rgba(104, 100, 222, 0.4),
    0 0 24px rgba(104, 100, 222, 0.2);
}

.create-btn:active {
  transform: scale(0.95);
}

.content {
  max-width: 680px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* blog preview / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #b1b7c9;
}
.blog-preview:hover {
  box-shadow: 1px 1px 3px rgba(104, 100, 222, 0.5);
}

.blog-preview h2 {
  font-size: 20px;
  color: #170e75;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
  color: inherit;
}

.blog-details h2{
  max-width: 680px;
  color:#170e75;
  margin: 20px auto;
}
.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  color: white;
  background-color: #170e75;
  border-radius: 8px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

/* create a new blog */
.create {
  max-width: 680px;
  margin: 0px auto;
  text-align: center;
}

.create label {
  display: block;
  text-align: left;
  color: #575568;
  font-size: 14px;
}

.create h2  {
  font-size: 12px;
  color: #170e75;
  margin-bottom: 20px;
  font-size: 20px;
}

.create input, .create textarea, .create select {
  width: 350px;
  padding: 6px 10px;
  margin-bottom: 10px  0;
  border: 1px solid #b1b7c9;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.create button {
  color: white;
  background-color: #170e75;
  border-radius: 8px;
  padding: 4px 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.create select {
  color: #575568;
}